name: CD - Deploy via Terraform Apply

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Terraform Apply
    runs-on: ubuntu-latest
    env:
      TF_IN_AUTOMATION: true
      AWS_REGION: ap-south-1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        working-directory: infra/terraform/envs/staging
        run: terraform init -input=false

      - name: Terraform Apply
        working-directory: infra/terraform/envs/staging
        run: terraform apply -auto-approve \
          -var "lambda_api_s3_key=pipelines/${{ github.sha }}/api.zip" \
          -var "lambda_worker_s3_key=pipelines/${{ github.sha }}/worker.zip"
